<div class="container section-contacts">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <h2 class="text-center title">Quieres saber más de mis servicios?</h2>
      <h4 class="text-center description">Contáctame y recibirás un correo con la información que solicites y los
        servicios que requieres.</h4><br>
      <form class="contact-form" action="contact.php" name="sentMessage" novalidate="novalidate" method="POST">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Tu Nombre</label>
              <input type="text" name="name" class="form-control" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Tu Email</label>
              <input type="email" name="email" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleMessage" class="bmd-label-floating">Tu Mensaje</label>
          <textarea type="text" name="mensaje" class="form-control" rows="4" id="exampleMessage"></textarea>
        </div>
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto text-center">
            <button class="btn btn-primary btn-raised">
              Enviar Mensaje
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>