.cuadro{
    z-index: 2;

    .contenedor{
        position: fixed;
        margin-top: 300px;
        margin-left: 100px;
        background: white;
        height: 270px;
        width: 600px;

        .contenedor-texto{
            h1{
                font-size: 55px;
                font-weight: bold;
            }
        }
    }
}

.img-fondo{
    z-index: 1;
    margin-top: 70px;
    margin-left: 580px;

    img{
        width: 100%;
        height: 100%;
    }
}