<div class="container-fluid header">
    <app-header-service></app-header-service>
</div>
<div class="container-fluid">
    <div class="row negocios">
        <div class="col-9 container-fluid">
                <div class="row  contenido1">
                    <div class="col-md-3 col-xs-12" style="background: #000;">
                        <h1>hello</h1>
                    </div>
                    <div class="col-md-6 col-xs-12" style="background: rgb(0, 109, 9);">
                        <h1>hello</h1>
                    </div>
                    <div class="col-md-3 col-xs-12" style="background: rgb(30, 16, 156);">
                        <h1>hello</h1>
                    </div>
                </div>
                <div class="row contenido2">
                    <div class="col-md-2 col-xs-12" style="background: rgb(202, 223, 18);">
                        <h1>hello</h1>
                    </div>
                    <div class="col-md-3 col-xs-12" style="background: rgb(20, 199, 216);">
                        <h1>hello</h1>
                    </div>
                    <div class="col-md-7 col-xs-12" style="background: rgb(219, 9, 184);">
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
        <div class="col-md-3 col-xs-12 work">

        </div>
    </div>
</div>

