 <div class="container-fluid header">
   <div class="row top">
    <div class="col-4 text-top">
      <h1>We Are<br> The Future</h1>
    </div>
    <div class="col-8 img-top">
      <h1>Creating<br> New Experiences</h1>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-4 img-bottom">

    </div>
    <div class="col-8 text-bottom">
      <h3>Experience</h3>
      <h3 style="color:#424B54">Business Growth</h3>
      <h3 style="color:rgb(106, 121, 134)">Market Exploration</h3>
    </div>
  </div>
 </div>