<div class="container-home">
  <!--=====fondo==========-->
  <div class="fondo">
	
	<app-header></app-header>

  </div>

  <div class="container-fluid">
  <!--========vision==========-->
    <div class="row vision">
      <div class="col-sm-6 col-xs-12 texto">
        <h1>Vision <strong>Empresarial</strong></h1>
        <p>La noción de visión empresarial, de este modo, puede asociarse a la capacidad que tiene una persona para vislumbrar o
        anticipar el futuro de un negocio. Esta visión se asocia a la facultad para pronosticar cómo funcionará un determinado
        mercado y, a partir de esta percepción, organizar los recursos de la empresa con el objetivo de sacar provecho del
        escenario futuro.</p>
        <p>La noción de visión empresarial, de este modo, puede asociarse a la capacidad que tiene una persona para vislumbrar o
        anticipar.</p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <img class="img-fluid" src="../../assets/img/home/eye.png" alt="" height="50%" width="50%">
      </div>
    </div>

    <!--=======mision=========-->
    <div class="row mision">
      <div class="col-sm-6 col-xs-12">
        <img class="img-fluid" src="../../assets/img/home/mision.png" alt="" height="35%" width="35%">
      </div>
      <div class="col-sm-6 col-xs-12 texto">
        <h1>Misión <strong>Empresarial</strong></h1>
        <p>La noción de visión empresarial, de este modo, puede asociarse a la capacidad que tiene una persona para
          vislumbrar o
          anticipar el futuro de un negocio. Esta visión se asocia a la facultad para pronosticar cómo funcionará un
          determinado
          mercado y, a partir de esta percepción, organizar los recursos de la empresa con el objetivo de sacar provecho
          del
          escenario futuro.</p>
        <p>La noción de visión empresarial, de este modo, puede asociarse a la capacidad que tiene una persona para
          vislumbrar o
          anticipar.</p>
      </div>
    </div>

	</div>
	
		<div class="container-fluid contacto">
			<app-formulario></app-formulario>
		</div>
		
</div>
